.board-index-header {
   display: inline-block;
    line-height: 24px;
    margin: 4px 0 0;
    font-size: 16px;
    font-weight: 700;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-tile{


  width: 174px;
  height: 88px;
  background-color: #091e4214;
  padding:  8px;
  margin-left: 5.2%;
  margin-top: 10.4%;
  text-align: right;
  border-radius: 4px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:ital@0;1&display=swap');


@font-face{

font-family: 'Nunito', sans-serif;
src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:ital@0;1&display=swap');

}

.hm-img-mid{

width: 665px;
height: 471px;


}

.home-arrow:hover{
     background-image: none;
     filter: brightness(85%);
    }

  .home-arrow2:hover{
     background-image: none;
     filter: brightness(85%);
    }


.hm-img-low{

margin-top: 2.6%;
margin-bottom: 2.6%;
width: 1150px;
height: 750px;


}

.mid-left{

display: flex;
flex-direction: column;
margin-top: 3.6%;

}

.how-work{

justify-content: center;
align-self: center;
align-items: center;
text-align: center;


}

.how-work1{

justify-content: center;
align-self: center;
align-items: center;
text-align: center;
margin-top: -2.1%;


}

.how-work2{

justify-content: center;
align-self: center;
align-items: center;
text-align: center;


}

.how-work3{

justify-content: center;
align-self: center;
align-items: center;
text-align: center;
margin-top: 3.3%;


}



.low-hm-img{

width: 270px;
height: 200px;
margin-left: 1.5%;

}

.hm-lower{

display: flex;
flex-direction: row;
margin-left: 21%;
margin-right: 21%;
margin-top: 1%;
justify-content: space-between;


}



.mid-heading{

color: #172b4d;
font-size: 35px;
font-family: 'Nunito', sans-serif;

}

.mid-p{

color: #172b4d;
font-size: 20px;
font-family: 'Nunito', sans-serif;

}



.home-mid{

margin-left: 21%;
margin-right: 21%;
margin-top: 3.1%;
justify-content: space-between;
font-family: 'Nunito', sans-serif;

}

.mid-lower{

display: flex;
flex-direction: row-reverse;
margin-top: 160px;
font-family: 'Nunito', sans-serif;
margin-left: 15.6%;
margin-right: 21%;
justify-content: space-between;


}

.mid-lower-left{

  margin-top: 5.2%;
  margin-right: 1%;
}

.home-lower-mid{

display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 21%;
margin-right: 21%;
margin-top: 7.8%;


}





.edit-menu-list{
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
	text-align: left;
	/* top: 100px;
	left: 40; */
  width: 304px;
  cursor: pointer;
    
  box-shadow: 2px 6px 8px -4px rgba(9,30,66,.25);
}


.edit-menu-list > * {
   background-color: rgb(255,255,255);
    /* border: 1px solid rgb(221,224,229); */
    display: block;
    color: #172b4d; 
    font-size:14px;
    cursor: pointer;
    border: none;

}

.board-tile-container{


  width: 100%;
  /* height: 88px; */
  background-color: #091e4214;
  padding:  8px;
  float: left;
  text-align: right;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  margin-top: .5%;
  /* justify-content: center; */
  margin: 10px;

}


div.board-list-item {
  width: 200px;
  height: 90px;
  padding: 8px;
  justify-content: space-between;
  /* background-color: #091e4214; */
  background-image: linear-gradient(90deg,#2585d3,#0a4364);
  box-sizing: content-box;
  outline: #0000FF;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFFFFF;
}




span.board-tile-title{

color: #FFFFFF; 
width: 115px;
height: 17px;
font-weight: 900;

}


span.board-tile-start{

color: #172b4d; 
width: 115px;
height: 17px;
font-weight: 900;

}

img.tile{

  height: 40px;
  width: 40px;
}


.button-form:hover {
  background-color: #61bd4f;
}

.button-form[disabled] {
  cursor: not-allowed;
  background-color: #f4f5f7;
  color: #a5adba;
}

 
 ul.board-list{
  justify-self: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-weight: 200;



 }

 h1.boardindex-title{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 position: relative;
 align-self: center;
 /* text-align: center; */
color: #172b4d;

 }

div.edit-board-container {
  width: 600px;
  margin: 0px 8px 0px 4px;
  padding: 4px;
  height: 600px;
  /* box-sizing: border-box; */
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  justify-content: space-between;

  
}

h1.edit-board-form{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size:  14px;

}


form.edit-board-form {
  width: 450px;
  height: 450px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  padding: 4px 8px;
  background-color: #ebecf0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}


div.single-board-show{
width: 100%;
height: 100%;
margin: 0px 0px 8px;
padding: 0px 0px 8px;



}

div.board-show-header{
  width: 100%; 
  background-color: #0000003d;
  padding: 8px 4px 4px 8px;
  display: flex;
  flex-direction: row;
   /* justify-content: space-evenly; */

}

.home-mid{

display: flex;
flex-direction: row;

}

.home-arrow{

width: 165px;
height: 44px;
background-color: #6D8EA2;
color: #FFFFFF;
font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
align-items: center;
margin-top: 1%;
justify-content: space-evenly;
border-radius: 8px;
text-align: center;


}

.home-arrow2{

width: 212px;
height: 44px;
background-color: #6D8EA2;
color: #FFFFFF;
font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
align-items: center;
margin-top: .5%;
justify-content: space-evenly;
border-radius: 4px;
text-align: center;


}


.fstylea{
color: #FFFFFF;
font-size: 12px;


}

.edit-lnk{

margin-left: 10px;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-weight: 900;
color: #FFFFFF;


}
.board-head{

top: 15%;
right: 50%;
color:  #172b4d;
font-size: 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-weight: 900;
position: absolute;
float: middle;



}


.board-index-view {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.index-container {
  margin: 64px 20% 0 20%;
  width: auto;
  max-width: 832px;

}


span.logo-img{

  width: 16px;
  height: 16px;
}

